@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Poppins:400,500,600,700,800,900|Titillium+Web:400,600,700&subset=cyrillic,cyrillic-ext,devanagari,latin-ext,vietnamese');

/* */
html {
	overflow-x: hidden !important;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 13px;
	height: 100%;
	text-align: center;
}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	font-size: 11px;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
	color: #878C9F;
	font-family: 'Poppins', sans-serif;
}
a {
	text-decoration:none; 
	position:relative; 
	color:#000;
}
img { 
	border: 0; 
	-ms-interpolation-mode: bicubic; 
	vertical-align: middle; 
}
:focus {
	outline: 0;
}

/*  */
.main-container {
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background_image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.neon {
    position: relative;
    overflow: hidden;
    filter: brightness(200%);
}
.text {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 110px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
}
.text::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
}
.gradient {
    position: absolute;
    background: linear-gradient(45deg, maroon, red, gold, lightgreen, green, lightgreen, gold, red, maroon);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}
.spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            white,
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            white,
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
}
@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}


/*  */
#main {
	height: 100%;
	width: 100%;
	position: absolute;
	background: #000;
	color: #000;
	z-index: 2;
}
#wrapper {
	right: 0;
	bottom: 0;
	z-index: 3;
}
.single-page-wrap {
	padding-top: 40px;
}
.fl-wrap {
	float: left;
	width: 100%;
	position: relative;
}
.content {
	float: left;
	width: 100%;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	background: #000;
	z-index: 5;
}
.content.full-height {
	z-index: 6;
}
.full-height {
	height: 100%;
}


/* */
section {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.dark-bg {
	background: #2A2A2E;
}

/*  */
.gallery-items {
	float: left;
	width: 100%;
	position: relative;
}
.grid-item-holder {
	float: left;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}
.min-pad .gallery-item {
	padding: 2px;
}
.gallery-item {
	width: 33.3%;
	position: relative;
	float: left;
	overflow: hidden;
}
.gallery-item-second {
	width: 66.6%;
}
.four-column .gallery-item {
	width: 25%;
}
.four-column .gallery-item.gallery-item-second {
	width: 50%;
}
.gallery-item img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
	background: #292929;
	-webkit-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
}
.gallery-item:hover img {
	opacity: 0.7;
}

/*  */
.box-item {
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.box-item img {
	width: 100%;
	height: auto;
	position: relative;
}
/* .vertical-gallery .box-item {
	margin-bottom: 10px;
} */
.box-item.hd-box {
	position: absolute;
	width: 100%;
	height: 100%;
	left: -100%;
	top: 0;
	padding: 20px;
	z-index: 10;
}

/*  */
.hd-box-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 20px 10px;
	background: #35353A;
}
/* .hd-box-wrap:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 50px;
	z-index: 1;
	background: rgba(255, 255, 255, 0.061);
} */
.hd-box-wrap h2 {
	text-align: left;
	position: relative;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	padding-left: 35px;
}
.hd-box-wrap h2:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 20px;
	height: 1px;
	background: #fff;
	z-index: 2;
}
.hd-box-wrap h2,
.hd-box-wrap h2:before {
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.hd-box-wrap h2:hover {
	padding-left: 55px;
}
.hd-box-wrap h2:hover:before {
	width: 30px;
}
.hd-box-wrap h2 a {
	color: rgba(255, 255, 255);
}
.hd-box-wrap p {
	text-align: justify;
	width: 100%;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.51);
	float: left;
	margin-top: 10px;
	padding-left: 35px;
	line-height: 18px;
}

/*  */
.fet_pr-carousel-box-media-zoom {
	position: absolute;
	top: 0;
	right: -70px;
	width: 70px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	background: #35353A;
	z-index: 5;
	
}
.fet_pr-carousel-box-media-zoom:hover{
	color: #fff;
}
.gallery-item:hover .fet_pr-carousel-box-media-zoom,
.box-item:hover .fet_pr-carousel-box-media-zoom {
	transition: ease 0.3s;
	right: 0;
}
.gallery-item .fet_pr-carousel-box-media-zoom {
	z-index: 100;
}
